.header {
  padding: 20px 0;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  &__container {
  }
  &__inner {
  }

  &__nav {
    @include flex-main(flex, space-between, center);
  }

  &__menu {
    @include flex-secondary(flex, center, 40px);
  }

  &__list {
    font-size: 12px;
  }
}
