$color-primary: #ffffff;
$color-primary-light: #efefef;
$color-primary-dark: #7a7a7a;
$color-main-text-dark: rgba(255, 255, 255, 0.7);
$color-main-text: rgba(255, 255, 255, 0.6);
$color-main-text-light: #999999;
$color-secondary-text: #101315;
$color-secondary-grey: #768088;
$color-main-bg: #f7f7f7;
$color-secondary-bg: #fcfcfc;
$color-sub-title: #2e2e2e;
$color-border-line: #dedede;
$color-border-img: #e5e5e5;
$color-input: #817f83;
$color-form-btn: #f8f8f8;
$main-bg-btn: #dd783f;

$br-radius-btn: 3px;
$br-radius-img: 60px;
